auto-save-list
backups
elpa
elpa-backu
eshell
games
history
places
recentf
snippets
tramp
transient
url
helm-descbinds.el
spotify.el
spotify-emacs.el
.juliahistory
.mc-lists.el
custom.el
/elpy/
/eaf/
/bookmarks
/request/
/spell-fu/
